body {
	margin:0;
}
.sumar {
	display: none;
}

.vetur {
	display: none;
}
.haust h1 {
	font-size: 5em;
	color: #ffa;
}
.haust {
	/*haust stílar hér*/
	background: linear-gradient(to top left, blue, red); /* Standard syntax (must be last) */
	position: fixed;
	width: 100%;
	height: 100%;
  	margin: 0;
  	padding: 0;
  
	display: flex; 
	justify-content: center;
	align-items: center;
	align-content: center;
}
